nav {
	margin-bottom: 1vh;
}
nav a {
	display: inline-block;
	font-size: 1.5vw;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	background-color: rgb(0, 81, 255);
	padding: 1vh;
	margin: 0 0.25vw;
}
